<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Wheel of Brisbane Event Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EventManager.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/unbootstrapify.css">
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                <div class="navbar-nav flex-row gap-3">
                    <a class="nav-link" href="@Url.Action("index", "home")">Home</a>
                    <a class="nav-link" href="@Url.Action("index", "events")">Events</a>
                    <a class="nav-link" href="@Url.Action("index", "bookings")">My Bookings</a>
                    <a class="nav-link" href="@Url.Action("register", "auth")}">Register</a>
                    <a class="nav-link" href="@Url.Action("get", "accounts")">Accounts</a>
                </div>
            </nav>
            @RenderSection("hero", false)
        </header>
        <main role="main" class="">
            <header class="row mb-3">
                <div class="col-md">
                    <h1>@RenderSection("title", false)</h1>
                </div>
                @RenderSection("headerButtons", false)
            </header>
            @RenderBody()
        </main>
        <footer class="mt-5 text-center footer"><strong>not endorsed by or associated with</strong> The Wheel of Brisbane Pty Ltd</footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>